@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@{
    ViewData["Title"] = "ShowTasks";
}



<h1><img src="https://img.icons8.com/nolan/64/assignment-turned-in.png" /> Develoeprs Tasks</h1>
<h2>Welcome <span style="color:#e14eca"> @User.Identity.Name </span></h2>
<hr style="background-color: #e14eca;" />
<table class="table ">
    <thead>
        <tr>
            <th> ID </th>
            <th>Title </th>
            <th>Descrption</th>


        </tr>
    </thead>
    <tbody>
        @foreach (var project in (List<SprintTask>)ViewBag.tasks)
        {
            <tr>
                <td>@project.Id</td>
                <td>@project.Title</td>
                <td>@project.Description</td>

                <td>
                    <a href="/ProjectManager/ShowWorks?taskId=@project.Id&&id=@project.DeveloperId" class="btn btn-outline-success">Show Works</a>

                </td>

                @if (project.status == Status.Completed)
                {
                    <td class="text-primary">Completed</td>
                }
                else
                {
                    <td class="text-danger">Pendding</td>
                }

            </tr>
        }
    </tbody>
</table>
