@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.js" crossorigin="anonymous"></script>



@*<script>
    $("document").ready(function () {
        $.ajax({
            url: "/Home/Privacy",
            data: {id:"" , firstName : ""},
            success: function () {
                alert("Successsss");
            },
            error: function () {

            }
        });
    });
</script>*@